---
import Layout from "../layouts/Layout.astro";
import AgradecimientosMd from "../content/docs/agradecimientos.md";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Agradecimientos | Arquitectura Hexagonal en Laravel">
    <section class="prose prose-sm md:prose-base lg:prose-lg mx-auto my-10">
        <AgradecimientosMd />
    </section>

    <Navigation textPrevius="Inicio" hrefPrevius="/"/>
</Layout>