---
import Layout from "../layouts/Layout.astro";
import EstructuraCarpetasMd from '../content/docs/estructura-carpetas.md';
import Navigation from "../components/Navigation.astro";
---

<Layout title="Estructura de Carpetas | Arquitectura Hexagonal en Laravel">
    <section class="prose prose-sm md:prose-base lg:prose-lg mx-auto my-10">
        <EstructuraCarpetasMd />
    </section>

    <Navigation textPrevius="Anterios: Conceptos Clave" hrefPrevius="/conceptos-clave" textNext="Siguiente: Dominio" hrefNext="/dominio"/>
</Layout>