---
const { href } = Astro.props
---

<a href={href} class="text-xs text-white px-4 py-2 rounded-xl mt-20 block w-max mx-auto bg-cta hover:-translate-y-1 transition-all duration-200 animate-fade-in-up animate-delay-300">
  Empieza a pensar como un senior
</a>