---

---

<section class="py-16">
    <h1 class="text-center text-2xl font-medium max-w-sm mx-auto leading-tight">
        Aprende a aplicar <span class="text-cta">arquitectura hexagonal</span> en Laravel y mejora la estructura de tus <span class="text-cta">proyectos</span>.
    </h1>
</section>