---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title || 'Arquitectura Hexagonal en Laravel'}</title>

		<meta name="description" content="Aprende Arquitectura Hexagonal en Laravel con ejemplos prácticos y buenas prácticas." />
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Mario Ortiz Hidalgo" />

		<meta property="og:title" content="Arquitectura Hexagonal en Laravel" />
		<meta property="og:description" content="Guía completa para implementar Arquitectura Hexagonal en Laravel." />
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Arquitectura Hexagonal en Laravel" />
		<meta name="twitter:description" content="Guía completa para implementar Arquitectura Hexagonal en Laravel." />

		<link rel="icon" href="/logo.ico" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Tipografia Inter -->
		 <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

		<ClientRouter />
	</head>
	<body class="max-w-5xl mx-auto px-6 md:px-8 min-h-screen flex flex-col">
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
